<!-- first -->

<!-- 
  
  <header>
     <div class="container">
      　<h1><a href="/">Blog</a></h1>
      <ul class="nav">
          <li>
         <a href="new.html">New</a>
          </li>
          <li>
         <a href="#">SignOut</a>
          </li>
      </ul>
    </div>
  </header>

   <div class="blog_container">
  <%= yield %>
  </div>

-->

<!-- add nav -->
<!-- 
         <% if user_signed_in? %>
          <li>
            <a href="new.html">New</a>
          </li>
          <li>
            <%= link_to "SignOut", destroy_user_session_path, method: :delete %>
          </li>
         <% else %>
          <li>
            <%= link_to "SignIn", new_user_session_path %>
          </li>
          <li>
            <%= link_to "SignUp", new_user_registration_path %>
          </li>
        <% end %> 
      
-->





 

