<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
     <header>
       <div class="container">
        　<h1><a href="/">Blog</a></h1>
        <ul class="nav">
            <li>
           <a href="new.html">New</a>
            </li>
            <li>
           <a href="#">SignOut</a>
            </li>
        </ul>
      </div>
    </header>
   <div class="blog_container">
   
    <div class="blogbox">
  <p>こんにちは</p>
   </div>
  </div>
  
</body>
</html>


<!-- 
  <div class="blogbox">
  <h1><%= @blog.title%></h1>
   <p><%= @blog.text%></p>
    <ul class="btn">
         <li>
           <%= link_to "SHOW", blog_path(@blog) %>
         </li>
         <li>
           <%= link_to "EDIT", edit_blog_path(@blog) %>
         </li>
         <li>
           <%= link_to "DESTROY", blog_path(@blog), method: :delete %>
         </li>
     </ul>
  </div> 
-->